<% layout("../main") -%>

<body class="hold-transition login-page">

<div class="login-box admin-login-box">
    <div class="login-logo">
        <a href="#"><b>Admin</b>LTE</a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <% if(locals.errorMessage != undefined){ %>
                <p><%= errorMessage %></p>
            <% } %>
            <form action="/admin/sendCodeForReset" method="post">
                <div class="input-group mb-3">
                    <input type="email" value="" class="form-control" placeholder="Email" name="email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Send code</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>