<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">


    <link rel="stylesheet" href="/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

    <link rel="stylesheet" href="/admin/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="/admin/plugins/jquery-ui/jquery-ui.css">


    <link rel="stylesheet" href="/admin/plugins/ekko-lightbox/ekko-lightbox.css">

    <link rel="stylesheet" href="/admin/css/custom.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <% if (!locals.notLogged) { %> <%- include top-menu.ejs %> <% } %>

        <% if (!locals.notLogged) { %> <%- include menu.ejs %> <% } %>


        <div class="content-wrapper">

            <% if (!locals.notLogged) { %> <%- include breadcrumbs.ejs %> <% } %>

	        <%- body %>

        </div>
    </div>

    <div class="modal fade" id="modal-danger">
        <div class="modal-dialog">
            <div class="modal-content bg-danger">
                <div class="modal-header">
                    <h4 class="modal-title">Danger Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete item?</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light cancel-module-item-delete-button" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-light confirm-module-item-delete-button">Delete</button>
                </div>
            </div>
        </div>
        <button id="delete-module-item-open" style="display: none;" type="button" class="btn btn-danger"
                data-toggle="modal" data-target="#modal-danger"></button>
    </div>



    <script src="/admin/plugins/jquery/jquery.min.js"></script>
    <script src="/admin/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/plugins/select2/js/select2.full.min.js"></script>
    <script src="/admin/dist/js/adminlte.min.js"></script>
    <script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/admin/plugins/jszip/jszip.min.js"></script>
    <script src="/admin/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/admin/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>




    <script src="/admin/plugins/moment/moment.min.js"></script>
    <script src="/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>


    <script src="/admin/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>


    <script src="/admin/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/admin/plugins/jquery-validation/additional-methods.min.js"></script>

    <script src="/admin/dist/js/demo.js"></script>
    <script src="/admin/js/main.js"></script>
    <script>

        $(function () {
            let deletingItem = null;

            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["excel"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            $(document).on('click', '.delete-module-item', function(e){
                e.preventDefault();

                deletingItem = !e.target.href ? e.target.closest('a'): e.target;

                $('#delete-module-item-open').click();
            });

            $(document).on('click', '.confirm-module-item-delete-button', function(e){
                location.href = deletingItem.href;
            });

        });
    </script>
</body>
</html>