<% layout("../layouts/main") -%>

<section class="content">
    <form action="" id="form">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Title</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-check-label">Address</label>
                            <input type="text" name="address" class="form-control" placeholder="Select your location(OACI)">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-check-label">Runways</label>
                            <select name="runways" class="form-control">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-check-label">Manager name</label>
                            <input type="text" name="manager_name" class="form-control" placeholder="Manager name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-check-label">Phone Number</label>
                            <input type="text" name="phone_number" class="form-control" placeholder="Phone Number">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-check-label">Primary email</label>
                            <input type="text" name="primary_email" class="form-control" placeholder="Primary email">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-check-label">Number of Spaces</label>
                            <input type="text" name="spaces_count" class="form-control" placeholder="Number of Spaces">
                            <span class="error invalid-feedback">Please enter a email address</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-default">
                            <div class="card-header">
                                <b>Upload your operating license</b>
                            </div>
                            <div class="card-body">
                                <div id="actions" class="row">
                                    <button type="button" class="btn btn-primary btn-block bg-gradient-secondary" data-toggle="modal" data-target="#modal-lg">
                                        <i class="fas fa-file-upload"></i>
                                        Upload Document Image
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-default">
                            <div class="card-header">
                                <b>Fill your bank details</b>
                            </div>
                            <div class="card-body">
                                <div id="actions" class="row">
                                    <button type="button" class="btn btn-primary btn-block bg-gradient-secondary" data-toggle="modal" data-target="#modal-lg-1">
                                        <i class="fas fa-pencil-alt"></i>
                                        Fill your bank details
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-default">
                            <div class="card-header">
                                <b>Upload Airfield Pictures</b>
                            </div>
                            <div class="card-body">
                                <div id="actions" class="row">
                                    <button type="button" class="btn btn-primary btn-block bg-gradient-secondary" data-toggle="modal" data-target="#modal-lg-2">
                                        <i class="fas fa-file-upload"></i>
                                        Upload Airfield Pictures
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include ./common/airfield-photos-modal.ejs %>

            <%- include ./common/document-modal.ejs %>

            <%- include ./common/bank-detail-modal.ejs %>

            <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <input type="button" value="Save Changes" id="create" class="btn btn-success float-right">
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


<script>
    const uploadImgRemoveImg = document.createElement('img');
    uploadImgRemoveImg.classList.add('upload-image-remove');
    uploadImgRemoveImg.src = '/admin/images/remove_image_icon.png';

    function createErrorBlock(text){
        const span = document.createElement('span');
        span.classList.add('error', 'invalid-feedback');

        span.innerText = text;

        return span;
    }

    function createImageBlock(id, imgSrc){
        const RemoveImg = uploadImgRemoveImg.cloneNode();
        const div = document.createElement('div');
        div.dataset.id = id;
        div.classList.add('col-sm-4', 'upload-image-item');

        const img = document.createElement('img');
        img.style.width = '100%';
        img.src = imgSrc;

        div.append(img, RemoveImg);

        return div;
    }

    function loadInputImage(file){
        return new Promise(resolve => {
            const reader  = new FileReader();
            reader.onloadend = async function () {
                resolve(reader.result);
            };

            reader.readAsDataURL(file);
        });
    }

    addEventListener('DOMContentLoaded', () => {
        const uploadedImages = $('#uploaded-images');

        $('#reservationdate').datetimepicker({
            format: 'L'
        });

        $(document).on('click', '.upload_airfield_images', function(e){
            $('#airfield_images_input').click();
        });

        $(document).on('click', '.upload_document_image', function(e){
            $('#document_image_input').click();
        });

        $(document).on('click', '#create', function(){
            const form = new FormData($('#form')[0]);
            const airfieldImages = document.querySelector('#airfield_images_input');
            const uploadedImageFiles = uploadedImages.find('.upload-image-item').toArray()

            if(airfieldImages.files)
                for(const div of uploadedImageFiles)
                    form.append("airfield_images", airfieldImages.files[div.dataset.id]);

            $.ajax({
                type: "POST",
                url: "create",
                beforeSend: function(){
                    $('.is-invalid').removeClass('is-invalid');
                    $('.invalid-feedback').remove();
                },
                success: function (data) {
                    location.href = '/airfields';
                },
                error: function (error) {
                    const errors = error.responseJSON.validationErrors;

                    if(!errors.length) return;

                    errors.forEach(error => {
                        const input = $(`[name="${error.param}"]`);

                        input.addClass('is-invalid');
                        input.closest('.form-group').append(createErrorBlock(error.msg))
                    });
                },
                async: true,
                data: form,
                cache: false,
                contentType: false,
                processData: false,
                timeout: 60000
            });
        });

        $(document).on('change', '#airfield_images_input', async function(e){
            uploadedImages.html('');

            if(e.target.files)
                for (const [id, file] of Object.entries(e.target.files)){
                    const image = await loadInputImage(file);

                    uploadedImages.append(createImageBlock(id, image))
                }
        });

        $(document).on('click', '.upload-image-remove', async function(e){
            $(this).closest('.upload-image-item').remove();
        });
    });
</script>


