<% layout("../layouts/main") -%>

<section class="content">
    <form id="form" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Title</h3>
            </div>

            <%- include ./_form.ejs %>

            <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <input type="button" value="Save Changes" id="create" class="btn btn-success float-right">
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<script src="/js/airfields/common/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5wZV3BX0WF1P41cMheOw27qC8wnVBgQg&callback=initMap&libraries=places&v=weekly" async></script>
<script src="/js/airfields/validation.js"></script>
<script src="/js/airfields/create.js"></script>


