<div class="modal fade show" id="modal-lg-1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <img class="close-modal-custom-icon" data-dismiss="modal" src="/admin/images/close_modal_icon.png" alt="">
            </div>
            <div class="modal-body">
                <div style="margin-bottom: 30px;">
                    <b class="modal-title">Bank Information Form</b>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-check-label">Bank Name</label>
                            <input type="text" name="bank_name" class="form-control" placeholder="Bank Name">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-check-label">Branch name</label>
                            <input type="text" name="branch_name" class="form-control" placeholder="Branch name">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-check-label">Branch number</label>
                            <input type="text" name="branch_number" class="form-control" placeholder="Branch Number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-check-label">Branch Address</label>
                            <input type="text" name="branch_address" class="form-control" placeholder="Branch Address">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-check-label">Work Phone</label>
                            <input type="text" name="work_phone" class="form-control" placeholder="Work Phone">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" name="city" class="form-control" placeholder="City">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" name="region" class="form-control" placeholder="Region">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" name="zip_code" class="form-control" placeholder="Postal/Zip Code">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select name="country" class="form-control">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-check-label">IBAN No.</label>
                            <input type="text" name="iban" class="form-control" placeholder="IBAN No">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-check-label">Bank Account Name</label>
                            <input type="text" name="bank_account_name" class="form-control" placeholder="Bank Account Name">
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 10px;">
                    <h6 class="modal-title">Account Type</h6>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group clearfix">
                            <div class="icheck-primary d-inline">
                                <input type="radio" id="radioPrimary1" value="1" name="account_type">
                                <label for="radioPrimary1">Checking</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group clearfix">
                            <div class="icheck-primary d-inline">
                                <input type="radio" id="radioPrimary2" value="2" name="account_type">
                                <label for="radioPrimary2">Saving</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group clearfix">
                            <div class="icheck-primary d-inline">
                                <input type="radio" id="radioPrimary3" value="3" name="account_type">
                                <label for="radioPrimary3">Other</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2">
                        <button type="button" data-dismiss="modal" class="btn btn-primary btn-block bg-gradient-secondary">
                            <i class="fas fa-file-upload"></i>
                            Save
                        </button>
                    </div>
                    <div class="col-sm-5"></div>
                </div>
            </div>
        </div>
    </div>
</div>