<div class="modal fade show" id="modal-lg-1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <img class="close-modal-custom-icon" data-dismiss="modal" src="/admin/images/close_modal_icon.png" alt="">
            </div>
            <div>
                <div class="modal-body">
                    <div style="margin-bottom: 30px;">
                        <b class="modal-title">Bank Information Form</b>
                        <p class="form-header-error"></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-check-label">First name</label>
                                <input type="text" name="bank_first_name" class="form-control" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-check-label">Last name</label>
                                <input type="text" name="bank_last_name" class="form-control" placeholder="Last name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-check-label">Account Name</label>
                                <input type="text" name="bank_account_name" class="form-control" placeholder="Account Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-check-label">Bank name</label>
                                <input type="text" name="bank_name" class="form-control" placeholder="Bank name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-check-label">BIC</label>
                                <input type="text" name="bank_bic" class="form-control" placeholder="BIC">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-check-label">IBAN NUMBER</label>
                                <input type="text" name="bank_iban_number" class="form-control" placeholder="IBAN NUMBER">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-check-label">Phone</label>
                                <input type="text" name="bank_phone" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-check-label">Email</label>
                                <input type="text" id="bank_email" name="bank_email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select name="bank_country_code" class="form-control">
                                    <option value="">-- Select country --</option>
                                    <% countries.forEach(function(country) { %>
                                        <option value="<%= country.code %>"><%= country.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-2">
                            <button type="button" data-dismiss="modal" class="btn btn-primary btn-block bg-gradient-secondary">
                                <i class="fas fa-file-upload"></i> Save
                            </button>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>