<% layout("../main") -%>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-plane-arrival"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Airfields</span>
                        <span class="info-box-number"><%= airfieldsCount %></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-book"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Reservations</span>
                        <span class="info-box-number"><%= reservationsCount %></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Managers</span>
                        <span class="info-box-number"><%= managersCount %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


