<% layout("../layouts/main") -%>

<section class="content">
    <form action="">

        <div class="container-fluid">
            <div id="dashboard">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-check-label">Airfield</label>
                            <select name="airfield_id" id="airfields_input" class="form-control">
                                <option value="0">-- Select Airfield --</option>
                                <% airfields.forEach(function(airfield) { %>
                                    <option value="<%= airfield.id %>"> <%= airfield.address %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-check-label">Slot number</label>
                            <select id="airfield_spaces_input" name="runways" class="form-control">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Date range:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                              </span>
                                </div>
                                <input type="text" class="form-control float-right" id="range_date">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group float-right">
                            <button type="button" class="btn btn-primary" id="filter">Search</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-body p-0">
                            <!-- THE CALENDAR -->
                            <div id="calendar"></div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </form>
</section>


<script>

    /*
 Copyright (C) Federico Zivolo 2019
 Distributed under the MIT License (license terms are at http://opensource.org/licenses/MIT).
 */(function(a,b){'object'==typeof exports&&'undefined'!=typeof module?module.exports=b(require('popper.js')):'function'==typeof define&&define.amd?define(['popper.js'],b):a.Tooltip=b(a.Popper)})(this,function(a){'use strict';function b(a){return a&&'[object Function]'==={}.toString.call(a)}a=a&&a.hasOwnProperty('default')?a['default']:a;var c=function(a,b){if(!(a instanceof b))throw new TypeError('Cannot call a class as a function')},d=function(){function a(a,b){for(var c,d=0;d<b.length;d++)c=b[d],c.enumerable=c.enumerable||!1,c.configurable=!0,'value'in c&&(c.writable=!0),Object.defineProperty(a,c.key,c)}return function(b,c,d){return c&&a(b.prototype,c),d&&a(b,d),b}}(),e=Object.assign||function(a){for(var b,c=1;c<arguments.length;c++)for(var d in b=arguments[c],b)Object.prototype.hasOwnProperty.call(b,d)&&(a[d]=b[d]);return a},f={container:!1,delay:0,html:!1,placement:'top',title:'',template:'<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',trigger:'hover focus',offset:0,arrowSelector:'.tooltip-arrow, .tooltip__arrow',innerSelector:'.tooltip-inner, .tooltip__inner'},g=function(){function g(a,b){c(this,g),h.call(this),b=e({},f,b),a.jquery&&(a=a[0]),this.reference=a,this.options=b;var d='string'==typeof b.trigger?b.trigger.split(' ').filter(function(a){return-1!==['click','hover','focus'].indexOf(a)}):[];this._isOpen=!1,this._popperOptions={},this._setEventListeners(a,d,b)}return d(g,[{key:'_create',value:function(a,b,c,d){var e=window.document.createElement('div');e.innerHTML=b.trim();var f=e.childNodes[0];f.id='tooltip_'+Math.random().toString(36).substr(2,10),f.setAttribute('aria-hidden','false');var g=e.querySelector(this.options.innerSelector);return this._addTitleContent(a,c,d,g),f}},{key:'_addTitleContent',value:function(a,c,d,e){1===c.nodeType||11===c.nodeType?d&&e.appendChild(c):b(c)?this._addTitleContent(a,c.call(a),d,e):d?e.innerHTML=c:e.textContent=c}},{key:'_show',value:function(b,c){if(this._isOpen&&!this._isOpening)return this;if(this._isOpen=!0,this._tooltipNode)return this._tooltipNode.style.visibility='visible',this._tooltipNode.setAttribute('aria-hidden','false'),this.popperInstance.update(),this;var d=b.getAttribute('title')||c.title;if(!d)return this;var f=this._create(b,c.template,d,c.html);b.setAttribute('aria-describedby',f.id);var g=this._findContainer(c.container,b);return this._append(f,g),this._popperOptions=e({},c.popperOptions,{placement:c.placement}),this._popperOptions.modifiers=e({},this._popperOptions.modifiers,{arrow:e({},this._popperOptions.modifiers&&this._popperOptions.modifiers.arrow,{element:c.arrowSelector}),offset:e({},this._popperOptions.modifiers&&this._popperOptions.modifiers.offset,{offset:c.offset||this._popperOptions.modifiers&&this._popperOptions.modifiers.offset&&this._popperOptions.modifiers.offset.offset||c.offset})}),c.boundariesElement&&(this._popperOptions.modifiers.preventOverflow={boundariesElement:c.boundariesElement}),this.popperInstance=new a(b,f,this._popperOptions),this._tooltipNode=f,this}},{key:'_hide',value:function(){return this._isOpen?(this._isOpen=!1,this._tooltipNode.style.visibility='hidden',this._tooltipNode.setAttribute('aria-hidden','true'),this):this}},{key:'_dispose',value:function(){var a=this;return this._events.forEach(function(b){var c=b.func,d=b.event;a.reference.removeEventListener(d,c)}),this._events=[],this._tooltipNode&&(this._hide(),this.popperInstance.destroy(),!this.popperInstance.options.removeOnDestroy&&(this._tooltipNode.parentNode.removeChild(this._tooltipNode),this._tooltipNode=null)),this}},{key:'_findContainer',value:function(a,b){return'string'==typeof a?a=window.document.querySelector(a):!1===a&&(a=b.parentNode),a}},{key:'_append',value:function(a,b){b.appendChild(a)}},{key:'_setEventListeners',value:function(a,b,c){var d=this,e=[],f=[];b.forEach(function(a){'hover'===a?(e.push('mouseenter'),f.push('mouseleave')):'focus'===a?(e.push('focus'),f.push('blur')):'click'===a?(e.push('click'),f.push('click')):void 0}),e.forEach(function(b){var e=function(b){!0===d._isOpening||(b.usedByTooltip=!0,d._scheduleShow(a,c.delay,c,b))};d._events.push({event:b,func:e}),a.addEventListener(b,e)}),f.forEach(function(b){var f=function(b){!0===b.usedByTooltip||d._scheduleHide(a,c.delay,c,b)};d._events.push({event:b,func:f}),a.addEventListener(b,f),'click'===b&&c.closeOnClickOutside&&document.addEventListener('mousedown',function(b){if(d._isOpening){var c=d.popperInstance.popper;a.contains(b.target)||c.contains(b.target)||f(b)}},!0)})}},{key:'_scheduleShow',value:function(a,b,c){var d=this;this._isOpening=!0;var e=b&&b.show||b||0;this._showTimeout=window.setTimeout(function(){return d._show(a,c)},e)}},{key:'_scheduleHide',value:function(a,b,c,d){var e=this;this._isOpening=!1;var f=b&&b.hide||b||0;window.clearTimeout(this._showTimeout),window.setTimeout(function(){if(!1!==e._isOpen&&document.body.contains(e._tooltipNode)){if('mouseleave'===d.type){var f=e._setTooltipNodeEvent(d,a,b,c);if(f)return}e._hide(a,c)}},f)}},{key:'_updateTitleContent',value:function(a){if('undefined'==typeof this._tooltipNode)return void('undefined'!=typeof this.options.title&&(this.options.title=a));var b=this._tooltipNode.querySelector(this.options.innerSelector);this._clearTitleContent(b,this.options.html,this.reference.getAttribute('title')||this.options.title),this._addTitleContent(this.reference,a,this.options.html,b),this.options.title=a,this.popperInstance.update()}},{key:'_clearTitleContent',value:function(a,b,c){1===c.nodeType||11===c.nodeType?b&&a.removeChild(c):b?a.innerHTML='':a.textContent=''}}]),g}(),h=function(){var a=this;this.show=function(){return a._show(a.reference,a.options)},this.hide=function(){return a._hide()},this.dispose=function(){return a._dispose()},this.toggle=function(){return a._isOpen?a.hide():a.show()},this.updateTitleContent=function(b){return a._updateTitleContent(b)},this._events=[],this._setTooltipNodeEvent=function(b,c,d,e){var f=b.relatedreference||b.toElement||b.relatedTarget;return!!a._tooltipNode.contains(f)&&(a._tooltipNode.addEventListener(b.type,function d(f){var g=f.relatedreference||f.toElement||f.relatedTarget;a._tooltipNode.removeEventListener(b.type,d),c.contains(g)||a._scheduleHide(c,e.delay,e,f)}),!0)}};return g});
    //# sourceMappingURL=tooltip.min.js.map

</script>


<script type="module">
    import XhrClass from '/admin/js/XhrClass.js';

    const xhr = new XhrClass();

    const loader = `<div class="overlay calendar_overlay"><i class="fas fa-2x fa-sync-alt fa-spin spin_calendar"></i></div>`;

    const colors = [
        '#623bbe',
        '#f99b56'
    ];

    addEventListener('DOMContentLoaded', () => {
        const airfieldSpacesInput = $('#airfield_spaces_input');
        const Calendar = FullCalendar.Calendar;
        const calendarEl = document.getElementById('calendar');

        function createAirfieldSpaceOptions(airfieldSpaces){
            airfieldSpacesInput.html('');

            if(!airfieldSpaces.length) return;

            airfieldSpacesInput.append(`<option value="0">-- All --</option>`);

            for(const airfieldSpace of airfieldSpaces)
                airfieldSpacesInput.append(`<option value="${airfieldSpace.id}">${airfieldSpace.title}</option>`);
        }

        $(document).on('click', '#filter', async function(){
            const [startDate, endDate] = $('#range_date').val().split(' - ');
            const airfieldId = parseInt($('#airfields_input').val());
            const airfieldSpaceId = parseInt($('#airfield_spaces_input').val());

            if(!airfieldId) return;

            const {data, status} = await xhr.post('calendar/get', {
                airfieldId: airfieldId,
                airfieldSpaceId: airfieldSpaceId,
                startDate: startDate,
                endDate: endDate
            });

            if(status !== 200) return;

            calendar.removeAllEvents();
            calendar.addEventSource(data.bookings.map(booking => ({
                title: 'Slot ' + booking.title,
                start: booking.start_timestamp,
                end: booking.end_timestamp,
                backgroundColor: colors[booking.status],
                rendering: 'background',
                allDay: false
            })));
            calendar.render();

            // $('body').prepend(loader)
        });

        $(document).on('change', '#airfields_input', async function(){
            const airfieldId = $(this).val();

            const {data, status} = await xhr.get(`/airfields-space/${airfieldId}`);

            if(status !== 200)
                return;

            createAirfieldSpaceOptions(data.airfieldSpaces);
        });

        const calendar = new Calendar(calendarEl, {
            height: 900,
            themeSystem: 'bootstrap',
            eventDisplay: 'block',
            eventMouseEnter: function(info){


                var tooltip = new Tooltip(info.el, {
                    title: info.event.extendedProps.description,
                    placement: 'top',
                    trigger: 'hover',
                    container: 'body'
                });



                console.log(info)
            },
            customButtons: {
                reservedParking: { text: 'Reserved Parking' },
                busyParking: { text: 'Busy Parking' }
            },
            eventDidMount: function(info) {


                // adding a CSS classname
                // if (info.event.extendedProps.status = 'rescheduled') {
                //     info.el.classList.add('rescheduled-event')
                // }
                //
                // // add tooltip
                // info.el.setAttribute('title', info.event.title)
                //
                // // manipulating the event title
                // let titleEl = info.el.getElementsByClassName(info.view.type == 'listWeek' ? 'fc-list-event-title' : 'fc-event-title')[0]
                //
                // if (titleEl) {
                //     // adding HTML
                //     let status = this.generateStatusHTML(info.event.extendedProps.status)
                //     // eg: '<span class="status-rescheduled">Rescheduled</span>'
                //
                //     titleEl.innerHTML = `${status} ${titleEl.innerHTML}`
                // }

            },
            headerToolbar: {
                left  : 'prev,next reservedParking busyParking',
                center: 'title',
                right : 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            eventContent: function(arg) {
                let customHtml = '';

                const startDate = arg.event.startStr.slice(0, 16);
                const endDate = arg.event.endStr.slice(0, 16);

                customHtml += `<span class='r10 font-xxs font-bold' style='overflow: hidden;'>Slot ${arg.event.title}</span> <br>`;
                customHtml += `<span class='r10 highlighted-badge font-xxs font-bold'>start: ${startDate}</span> <br>`;
                customHtml += `<span class='r10 highlighted-badge font-xxs font-bold'>end: ${endDate}</span>`;

                return { html: customHtml }
            }
        });

        calendar.render();

        $('#range_date').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            endDate: moment().add(30, 'day'),
            locale: {
                format: 'YYYY-MM-DD hh:mm'
            }
        });

    });
</script>



